*{
    background-color: lightgray;
}

.wholepage{
    display: flex;
    padding: 50px;
    background-color: lightgray;
}

.col1{
    flex: 1;
    margin-left: 130px;
}

.col2{
    flex: 1;
}

.col3{
    flex: 1;
    margin-right: 130px;
}